grant {
  permission java.util.PropertyPermission "*", "read";
  permission java.lang.RuntimePermission "queuePrintJob";

  // to reset at the end of the test
  permission java.lang.RuntimePermission "setSecurityManager";
};
